// Глобальные переменные для управления игрой
let gameBoard;
let currentTetromino;
let currentTetrominoShape;
let currentTetrominoColor;
let currentTetrominoX;
let currentTetrominoY;
let colors = {
  cyan: "#00FFFF",
  blue: "#0000FF",
  orange: "#FFA500",
  yellow: "#FFFF00",
  green: "#00FF00",
  purple: "#800080",
  red: "#FF0000",
};

// Функция для отображения игрового поля тетриса
function renderGrid() {
  gameBoard = document.getElementById("game-board");

  // Очищаем игровое поле перед отображением
  gameBoard.innerHTML = "";

  // Создаем сетку игрового поля
  for (let i = 0; i < 20; i++) {
    for (let j = 0; j < 10; j++) {
      const cell = document.createElement("div");
      cell.classList.add("cell");
      gameBoard.appendChild(cell);
    }
  }
}

// Осталось 9 сигментов.
